/* Reset Styles */

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family:'montserrat', sans-serif;
  background-color: rgb(33, 33, 77);
}

header{
  padding: 50px 15px 25px;
}

h1{
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

main{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: crimson;
}

section{
  padding: 20px;
}

input{
  border: none;
  outline: none;
  background: none;
}
/* Seach Bar*/

.search-box{
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #EEE;
  border-radius: 10px;
  color: #53565A;
  font-size: 20px;
  font-weight: 300;
  transform: 0.4;
}

.search-box:focus{
  box-shadow: 0px 0px 4px 2px rgb(33, 33, 77);
}

.results{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px;
}

.results .result {
  width: 33.33333%;
  min-width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result img {
  display: block;
  width: 100%;
}

.results .result h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background: #445565;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
}

.results .result h3:hover {
  background: #fff;
  color: #445565;
}

/* pop-up */

.pop-up{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #445565;
  overflow: scroll;
}

.pop-up .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;
  color: #fff;
}

.pop-up .content h2{
  font-size: 28px;
  font-weight: 600;
}

.pop-up .content h2 span{
  font-weight: 300;
  font-size: 20px;
}

.pop-up .content .rating{
  margin-bottom: 30px;
}

.pop-up .content .plot{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15 30px;
}

.pop-up .content .plot{
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0 15px;
}

.pop-up .content .plot p{
  flex: 1 1 50%;
  padding: 15px;
}

.pop-up .content .close{
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;
  background-color: #4484c4;
  color: white;
  border-radius: 8px;
  outline: none;
  appearance: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.pop-up .content .close:hover{
  background-color: #222222;
}