/* Reset Styles */

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family:'montserrat', sans-serif;
  background-color: rgb(33, 33, 77);
}

header{
  padding: 50px 15px 25px;
}

h1{
  color: #ffffff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

main{
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: crimson;
}

section{
  padding: 20px;
}

input{
  border: none;
  outline: none;
  background: none;
}
/* Seach Bar*/

.search-box{
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #EEE;
  border-radius: 10px;
  color: #53565A;
  font-size: 20px;
  font-weight: 300;
  transform: 0.4;
}

.search-box:focus{
  box-shadow: 0px 0px 4px 2px rgb(33, 33, 77);
}

.results{
  background-color: darkgrey;
}

